# # vars-ts
src/app/vars-ts/

# deps
node_modules/
dist/
esp_firmwares

# other misc
package-lock.json
pnpm-lock.yaml

# yarn misc
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock
